:root {
  --primary-color: black;
  --secondary-color: #595f6e;
  --light-color: #dceaf3;
  --light-color2: #cfdce4;
  --nav-color: rgba(228, 228, 25, 0.99);
  --contrast-color: white;
  --shadow: #b3c4c5;
  --alert-color: red;
  --passing-color: #bec82d;
  font-size: 17px;
}

/* ------- 1. Page structure ------*/
/* ------- 2. Lang switch    ------*/
/* ------- 3. Navbar (header)------*/
/* ------- 4. Output data    ------*/
/* ------- 5. Footer         ------*/
/* ------- 6. Form Structure ------*/
/* ------- 7. Animation      ------*/

/* -------  Page structure   ------*/

*, *::before, *::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 570px) {
  :root {
    font-size: 12px;
  }
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  background-color: var(--light-color, lightgray);
}

body::-webkit-scrollbar {
  width: 0.3em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "helvetica", sans-serif;
}

hr {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

header {
  position: fixed;
  z-index: 1;
  top: 0px;
  display: flex;
  border: none;
  height: 50px;
  width: 100%;
  background-color: var(--nav-color, lightgray);
  box-shadow: 0 1px 4px var(--shadow, grey);
}

main {
  padding: 1%;
  min-height: 88vh;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--light-color, lightgray);
}

footer {
  position: fixed;
  z-index: 1;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background-color: var(--nav-color, lightgray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  padding: 0 1rem;
}
@media screen and (max-width: 570px) {
  footer {
    font-size: 0.6rem;
  }
}

/* -------    Lang switch    ------*/

#lang, #units {
  position: fixed;
  right: 1%;
  top: 42px;
  padding: 2px;
  width: 4rem;
  height: 1.1rem;
  opacity: 0.9;
  transition: 0.3s;

  font-size: 0.7rem;
  font-family: sans-serif;
  color: var(--secondary-color);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  border-radius: 6px;
  border: 1px solid var(--shadow, #595f6e);
  background-color: var(--contrast-color, lightgray);
  cursor: pointer;
}
#units {
  width: 7rem;
  left: 62px;
}
#lang span, #units span {
  font-weight: 800;
}
#lang:hover, #units:hover {
  background-color: var(--primary-color,#000);
  color: var(--contrast-color, #fff);
  font-size: 0.9rem;
  height: 1.4rem;
}

/* -------    Navbar (header)------*/

.logo {
  height: 42px;
  margin: 2px 2px 2px 4px;
  width: auto;
  background-color: transparent;
  opacity: 0.9;
  transition: 0.3s;
  cursor: pointer;
}
.logo:hover {
  height: 47px;
  margin: 1px 1px 1px 3px;
  width: auto;
  opacity: 1;
}
#navbar {
  display: flex;
  margin: 0 0 0 auto;
  height: 100%;
  width: 75%;
}
#nav-list {
  list-style: none;
  flex-flow: row nowrap;
  width: 100%;
  display: flex;
  margin: 0px;
  padding: 0px;
}
.nav-link {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--primary-color, black);
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.nav-link:after {
  text-decoration: none;
  color: var(--primary-color, black);
}
.nav-sec {
  display: flex;
  flex: 1 1 auto;
  text-align: center;
  margin: 0px;
  padding: 0px;
  opacity: 0.9;
  transition: 0.3s;
}
.nav-sec:hover {
  background-color: var(--shadow, gray);
}
.nav-sec:active {
  background-color: transparent;
}

/* ------- 4. Output data    ------*/

pre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* -------    Footer         ------*/

.credits {
  color: var(--secondary-color);
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  display: block;
  width: 7em;
}

/* -------    Images         ------*/

.instructions {
  border: 1px solid #fff;
  margin-left: 5%;
}

@media screen and (max-width: 570px) {
  .instructions {
    width: 90%;
  }
}

/* -------   Form Structure  ------*/

.side-margins {
  margin-left: 5%;
  margin-right: 5%;
}

.vertical-margins {
  margin-top: 3%;
  margin-bottom: 3%;
}

.justify-text {
  text-align: justify;
}

h1 {
  margin-top: 1.5em;
}
#data-sect p {
  text-align: center;
}

.form-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.5em;
}
.form-factor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
}
.form-div > .form-div {
  margin: 0;
}
.full-width {
  width: 100%;
}
.form-block > .form-div {
  justify-content: space-between;
}
.flex-evenly {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.form-block {
  min-width: 22rem;
  width: 50%;
}
.form-block:last-child {
  border-left: .5px inset lightgrey;
}
.form-div > .form-block > .form-div > .form-block {
  border-left: none;
}
.form-div > .form-div > .form-block > .form-div {
  justify-content: space-between;
  margin: 1em;
}
.hidden {
  display: none !important;
}
@media screen and (max-width: 1018px) {
  .form-block {
    width: 100%;
  }
  .form-block:last-child {
    border-left: none;
  }
  .form-div > .form-div > .form-block > .form-div {
    justify-content: space-between;
  }
}
.comp-div {
  justify-content: space-between;
}
@media screen and (max-width: 996px) {
  .comp-div {
    justify-content: space-around;
  }
}
.comp {
  justify-content: space-between;
  padding: 1rem;
}

h1, h2, h3, h4 {
  text-align: center;
}

h3 span {
  font-size: 0.9rem;
  font-weight: normal;
}

.project-info {
  margin: 0;
  display: inline-block;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.6em;
  align-self: center;
}

.project-info select {
  width: 11rem;
}

.fuel-compound {
  margin: 0.3em;
  margin-left: 4em;
  margin-right: 4em;
  padding: 0;
  display: inline-flex;
  align-items: center;
  height: 2em;
  width: 18em;
}
.fuel-name, .fuel-formula, .fuel-input {
  margin: 0;
  padding: 0;
  padding-bottom: 0.5em;
  display: inline-flex;
  align-items: center;
  height: 2em;
  width: 5.5em;
  transition: 0.4s;
}
.fuel-input:hover {
  width: 5.8em;
  height: 2.1em;
}
.fuel-formula {
  justify-content: center;
  align-items: end;
  margin: auto;
  padding-right: 0.1rem;
  height: fit-content;
}
.fuel-name {
  width: 24rem;
}

/* -------  Form structure   ------*/

#fuel-div, #graph-div {
  overflow: hidden;
  height: 0; opacity: 0;
  transition: opacity 1400ms 0ms;
}

form div button {
  padding: 0 1rem;
  margin: auto;
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 8rem;
  border: none;
  background-color: var(--contrast-color, #fff);
  border-radius: 4px;
  cursor: pointer;
  color: var(--primary-color, #000);
  font-weight: 800;
  font-size: 1.3rem;
  opacity: 0.9;
  transition: 0.4s;
}
form div button:hover {
  background-color: var(--primary-color,#000);
  color: var(--contrast-color, #fff);
  height: 2.5rem;
  width: 45%;
}

input, select {
  font-size: 0.88rem;
  font-weight: 600;
  height: 1.8rem;
  border: none;
  border-radius: 1rem;
  width: 8rem;
  vertical-align: middle;
  background-color: var(--contrast-color, white);

  box-shadow: inset 3px 3px 1px var(--shadow, gray), inset -3px -3px 1px var(--light-color2, white);
  color: #4a5568;
  padding-left: .7rem;
  padding-right: .2rem;
}
input[disabled] {
  background-color: var(--light-color, white);
  font-weight: 500;
}
input[type="range"] {
  box-shadow: none;
  padding: none;
}
input[type="number"] {
  /* Just enough to display 4 digits */
  width: 4.5rem;
  transition: 0.4s;
}
input[type="number"]:hover {
  width: 5rem;
}

input[type="text"]:invalid+span:after {
  content: '✖';
  padding-left: 0.3rem;
}

input[type="text"]:valid+span:after {
  content: '✓';
  padding-left: 0.3rem;
}

#total {
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 1.15rem;
  text-align: center;
  align-content: center;
  border-radius: 0.3rem;
  background-color: var(--contrast-color, #fff);
}

/* -------  Toggle1  -------  */
.toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.toggle-inside {
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle-inside > p, .toggle > p {
  margin: 0.35rem;
}
.switch {
  display: inline-block;
  height: 1.55rem;
  position: relative;
  width: 2.75rem;
}
.switch input {
  display:none;
}

.slider {
  box-shadow: inset 3px 3px 1px var(--shadow, gray), inset -3px -3px 1px var(--light-color2, white);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  border: solid 1.5px #CCC;
  background-color: var(--contrast-color);
  content: "";

  position: absolute;
  left: .185rem;
  bottom: .185rem;
  height: 1.15rem;
  width: 1.15rem;
  transition: .4s;
}

input:checked + .slider:before {
  background-color: #181818;
  border: solid 0.5px var(--shadow);
  transform: translateX(1.15rem);
}

.slider.round {
  border-radius: 2rem;
}
.slider.round:before {
  border-radius: 50%;
}

/* -------  Results  -------  */

pre {
  font-size: 1rem;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
