:root {
  --primary-color: black;
  --secondary-color: #595f6e;
  --light-color: #cfdce4;
  --nav-color: rgba(228, 228, 25, 0.99);
  --contrast-color: white;
  --shadow: #95a5a6;
  --alert-color: red;
  --passing-color: #bec82d;
}

/* ------- 1. Page structure ------*/
/* ------- 2. Lang switch    ------*/
/* ------- 3. Navbar (header)------*/
/* ------- 4. Social         ------*/
/* ------- 5. Footer         ------*/
/* ------- 6. Form Structure ------*/
/* ------- 7. Animation      ------*/

/* -------  Page structure   ------*/

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "helvetica", sans-serif;
}


header {
  position: fixed;
  z-index: 1;
  top: 0px;
  display: flex;
  border: none;
  height: 50px;
  width: 100%;
  background-color: var(--nav-color, lightgray);
  box-shadow: 0 1px 4px var(--shadow, grey);
}

main {
  padding: 1%;
  min-height: 88vh;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--light-color, lightgray);
}

footer {
  position: fixed;
  z-index: 1;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background-color: var(--nav-color, lightgray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}
@media screen and (max-width: 570px) {
  footer {
    font-size: 0.5em;
  }
}

/* -------    Lang switch    ------*/

#lang {
  position: fixed;
  right: 1%;
  top: 42px;
  padding: 2px;
  width: 5em;
  height: 12px;
  opacity: 0.9;
  transition: 0.3s;

  font-size: 10px;
  font-family: sans-serif;
  color: var(--secondary-color);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  border-radius: 6px;
  border: 1px solid var(--shadow, #595f6e);
  background-color: var(--contrast-color, lightgray);
}
#lang span {
  font-weight: 800;
}
#lang:hover {
  background-color: var(--primary-color,#000);
  color: var(--contrast-color, #fff);
  font-size: 13px;
  height: 15px;
}

/* -------    Navbar (header)------*/

.logo {
  height: 42px;
  margin: 2px;
  width: auto;
  background-color: transparent;
  opacity: 0.9;
  transition: 0.3s;
}
.logo:hover {
  height: 47px;
  margin: 1px;
  width: auto;
  opacity: 1;
}
#navbar {
  display: flex;
  margin: 0 0 0 auto;
  height: 100%;
  width: 75%;
}
#nav-list {
  list-style: none;
  flex-flow: row nowrap;
  width: 100%;
  display: flex;
  margin: 0px;
  padding: 0px;
}
.nav-link {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--primary-color, black);
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.nav-link:after {
  text-decoration: none;
  color: var(--primary-color, black);
}
.nav-sec {
  display: flex;
  flex: 1 1 auto;
  text-align: center;
  margin: 0px;
  padding: 0px;
  opacity: 0.9;
  transition: 0.3s;
}
.nav-sec:hover {
  background-color: var(--shadow, gray);
}
.nav-sec:active {
  background-color: transparent;
}

/* -------    Footer         ------*/

.credits {
  color: var(--secondary-color);
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 14px;
  display: block;
  width: 6em;
}

/* -------   Form Structure  ------*/

#data-sect p {
  text-align: center;
}

.form-div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.form-block {
  min-width: 285px;
  width: 50%;
}
@media screen and (max-width: 585px) {
  .form-block {
    width: 100%;
  }
}
.comp-div {
  justify-content: space-between;
}
@media screen and (max-width: 785px) {
  .comp-div {
    justify-content: space-around;
  }
}
.comp {
  justify-content: space-between;
  padding: 2em;
}

h1, h2, h3, h4 {
  text-align: center;
}

h3 span {
  font-size: 16px;
  font-weight: normal;
}

.project-info {
  margin: 0;
  display: inline-block;
  padding-right: 1em;
  padding-bottom: 1em;
  align-self: center;
}

.fuel-compound {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  height: 2em;
  width: 16em;
}
.fuel-name, .fuel-formula, .fuel-input {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  height: 2em;
  width: 4em;
  transition: 0.4s;
}
.fuel-input:hover {
  width: 4.1em;
  height: 2.1em;
}
.fuel-formula {
  justify-content: center;
  align-items: end;
  margin: auto;
  height: fit-content;
}
.fuel-name {
  width: 7.5em;
}

/* -------  Form structure   ------*/

form div button {
  padding: 0 1em;
  margin: 2em 0 0.5em;
  height: 2em;
  width: 6em;
  border: none;
  background-color: var(--contrast-color, #fff);
  border-radius: 4px;
  cursor: pointer;
  color: var(--primary-color, #000);
  font-weight: 600;
  opacity: 0.9;
  transition: 0.4s;
}
form div button:hover {
  background-color: var(--primary-color,#000);
  color: var(--contrast-color, #fff);
  height: 2.4em;
  width: 7em;
}

input, select {
  height: 1.5em;
  border: none;
  border-radius: 3px;
}
/* Just enough to 4 decimals */
input[type="number"] {
  width: 4.1em;
  transition: 0.4s;
}
input[type="number"]:hover {
  width: 4.2em;
}

input:invalid+span:after {
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  content: '✓';
  padding-left: 5px;
}

#total {
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 1em;
  text-align: center;
  align-content: center;
  margin-left: 0.5em;
  border-radius: 4px;
  background-color: var(--contrast-color, #fff);
}

/* -------  Results  -------  */

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* Stylish one column Form */
/*
.form-input {
  position: relative;
  width: 20%;
  height: 40px;
  overflow: hidden;
}

.form-input input {
  padding: 0;
  padding-top: 10px;
  margin: 0;
  width: 100%;
  height: 100%;
  color: var(--secondary-color, #595f6e);
  border: none;
  outline: none;
}

.form-input label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid var(--primary-color, #595f6e);
}

.form-input label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--passing-color, #595f6e);
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-label {
  position: absolute;
  left: 0;
  bottom: 5px;
  transition: all 0.3s ease;
}

.form-input input:focus + .label-input .content-label,
.form-input input:not([value=""]) + .label-input .content-label {
  transform: translateY(-110%);
  color: var(--passing-color);
  font-size: 14px;
}

.form-input input:focus + .label-input::after,
.form-input input:not([value=""]) + .label-input::after {
  transform: translateX(0%);
} */